<div class="header-inner">
  {{#if goback.link}}
  <a class="go-back stay glyphicon glyphicon-chevron-left" href="{{goback.link}}">{{goback.display}}</a>
  {{/if}}


{{!--   {{#if alternate}}
    <a class="menu-button stay" href='/logout'>Logout</a>

    <a class="menu-addEvent stay" href="/addEvent/{{dayId}}">Add Event</a>
    <a class="menu-today stay" href="/alt/{{dayId}}">Today</a>

  {{else}} --}}
    <a class="menu-button stay" href="#">Menu</a>

  {{!-- {{/if}} --}}
</div>

{{!-- {{#if alternate}}

{{else}}
 --}}
<div class="menu-drop-down">
  <ul class="drop-down-list">
    {{#if user}}
    <li class="go-to-today"><a class="stay" href="/{{dayId}}">Today</a></li>
    <li class=""><a class="stay" href="/about">About</a></li>
    {{!-- <li class=""><a class="stay" href="/addEvent/{{dayId}}">Add Event</a></li> --}}
    <li>
      <a class="stay" href='/logout'>Logout</a>
    </li>
    {{else}}
    <li><a class="stay" href="/"> Login </a></li>
    {{/if}}
  </ul>
</div>

{{!-- {{/if}} --}}