<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<div class="alert alert-error">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Error!</strong> This is a fatal error.  
</div>  
<div class="alert alert-success">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Success!</strong> You have successfully done it.  
</div>  
<div class="alert alert-info">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Info!</strong> Watch this, but you may forget.  
</div>  

<div class="alert alert-block">  
  <a class="close" data-dismiss="alert">×</a>  
  <h4 class="alert-heading">Warning!</h4>  
 What are you doing?! this will delete all files!!  
</div> 
<div class="container">  
<div class="row">  
<div class="span4">  
<div class="alert">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Warning!</strong> Best check yo self, you're not looking too good.  
</div>  
</div>  
</div>  
</div>  


<div class="event-view">
  <div class="row">
    <form method='post' action='/addEvent' role='form' id='postEvent-form'>
{{!--     <div class="col-xs-12">
      <a href="/{{goback}}" class="text-left"> &lt; Today </a>
    </div> --}}
    <div class="col-xs-12">
      <h4>Add Event, {{user}}</h4>
  {{!--       <div class="event-time">
            <h6 class="start-time">{{startHour}}:{{startMin}}</h6>
            <h6 class="end-time">{{endHour}}:{{endMin}}</h6>
        </div> --}}
        <input type='hidden' name='user' value='{{user}}'>
        <input type='hidden' name='mood' value='0'>
        <input type='hidden' name='dayId' value='{{dayId}}'
        
        <input type='hidden' name='comment' value=''>
        <div class='form-group'>
          <label for="name-input">Title:</label>
          <input type='text' class='form-control' name='name' id='name-input'>
        </div>
        {{!-- <div class='form-group'>
          <label class="control-label" for="add-event-datepicker">Date:</label>
          <div class='input-group'>
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-time"></i>
            </span>
            <input type='text' class='form-control' name='date' id='add-event-datepicker'>
          </div>
        </div> --}}
        <div class='form-group'>
          <label for="name-input">Start:</label>
          <input type="datetime-local" placeholder="Start" name="startTime" class="form-control" id="start_time" value="{{default_start_time}}">
        </div>
        <div class='form-group'>
          <label for="name-input">End:</label>
          <input type="datetime-local" placeholder="End" name="endTime" class="form-control" id="end_time" value="{{default_end_time}}">
        </div>
      </div>
      {{!-- <div class="col-xs-6 alarm">
        <div class='form-group'>
          <label>Start time:</label>
          <div class='input-group'>
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-time"></i>
            </span>
            <input type='text' id='start-timepicker' name='startTime' class='form-control'>
          </div>
          <script>
            $('#start-timepicker').timepicker();
          </script>
        </div>
      </div>
      <div class="col-xs-6 repeat">
        <div class='form-group'>
          <label>End time:</label>
          <div class='input-group'>
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-time"></i>
            </span>
            <input type='text' id='end-timepicker' name='endTime' class='form-control'>
          </div>
          <script>
            $('#end-timepicker').timepicker();
          </script>
        </div>
      </div> --}}
      <div class="col-xs-12 note">
        <div class='form-group'>
          <label for="notes-input">Notes:</label>
          <input type='text' class='form-control' name='note' id='notes-input'>
        </div>
      </div>
      <div class="col-xs-12 comment">
        <div class='form-group'>
          <label for='location-input'>Location:</label>
          <input type='text' class='form-control' name='location' id='location-input'>
        </div>
      </div>
      <div class='col-xs-12 form-group'>
        {{!-- <button type="button"><a href="/addEvent">Add Event</a></button> --}}
        <input type='submit' class='btn btn-primary btn-block' value='Add Event' id='addEvent-button'>
      </div>
{{!--     <div class="col-xs-12 take-photo navbar-fixed-bottom">
      <button type="button" class="btn btn-default camIcon"><span class="glyphicon glyphicon-star"></span></button>
    </div> --}}
  </div>
</div>
