
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48462023-2', {'cookieDomain': 'none'});
  // ga('create', 'UA-48462023-2', 'smilendar.herokuapp.com');
  ga('send', 'pageview','homepage');


 //  // Using jQuery Event API v1.3
	// // $('.dropdown').on('click', function() {
	// // 	console.log('button selected!!!')
	// //   ga('send', 'event', 'button', 'click', 'nav-buttons');
	// // });

</script>

<div class="day-view">
	<div class="row">
{{!-- 		<div class="col-xs-12">
		    <a href="/month" class="text-left"> &lt; Month </a>
		    <a href="/addEvent" class="text-right"> Add Event </a>
		</div> --}}
	</div>
	<div class="row this-week">
		<div class="cal-row-fluid weekday-name">

			<div class="cal-cell1" id="sun"><small>Sun</small>
			</div>
			<div class="cal-cell1" id="mon"><small>Mon</small>
			</div>
			<div class="cal-cell1" id="tue"><small>Tue</small>
			</div>
			<div class="cal-cell1" id="wed"><small>Wed</small>
			</div>
			<div class="cal-cell1" id="thu"><small>Thu</small>
			</div>
			<div class="cal-cell1" id="fri"><small>Fri</small>
			</div>
			<div class="cal-cell1" id="sat"><small>Sat</small>
			</div>


		</div>
		<div class="cal-row-fluid weekday-num">
			{{!-- {{#if alternate}}
				<a class="pull-left weekdaynav stay" id="lastweek" href="/alt{{lastWeekURL}}">
			{{else}} --}}
				<a class="weekdaynav stay" id="lastweek" href="{{lastWeekURL}}">
			{{!-- {{/if}} --}}
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			{{#each tagDate}}
				{{!-- <div> {{this.0}}</div> --}}
				{{#each this}}
					{{#unless @index}}
						{{!-- <div> {{this}}</div> --}}
					<div class="cal-cell1" id="{{this}}" href="{{this}}">
					{{else}}
						{{!-- <div> {{this}}</div> --}}
						<div class="day-order">{{this}}</div>
					{{/unless}}
				{{/each}}
					</div>
			{{/each}}
		{{!-- 		<div class="cal-cell1" id="sun" href="9">
					<div class="day-order">9</div>
				</div> --}}
			{{!-- {{#if alternate}}
				<a class="pull-right weekdaynav stay" id="nextweek" href="{{nextWeekURL}}">
			{{else}} --}}
				<a class="weekdaynav stay" id="nextweek" href="{{nextWeekURL}}">
			{{!-- {{/if}} --}}
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>

	</div>
	<div class="row">
		<h4 class="text-center", id="fullDate">{{fullDateInString}}</h4>
	</div>

	<div class="row", id="this_day">

{{!--		<script id="ajax-comment" type="text/x-handlebars"> --}}
{{!-- 		{{#each todaysEvents.events}}
		<div class="event-item">
			<a href="/calendar_event/{{id}}">
			<div class="event-time col-xs-3">
				<h6 class="start-time">2:15 PM</h6>
				<h6 class="end-time">3:30 PM</h6>
			</div>
			<div class="col-xs-9 event-info">
				<h5 class="event-title">{{name}}</h5>
				<p class="event-brief">{{comment}}</p>
				<div class="smile">
					<div class="dropdown">
						<button data-toggle="dropdown" class="btn-xs smile-face mood-display" id="{{mood}}" data-identifier="{{_id}}">smile</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li id="happy" class="smile-face mood-status">Happy</li>
					    <li id="excited" class="smile-face mood-status">Excited</li>
					    <li id="sad" class="smile-face mood-status">Sad</li>
					    <li id="angry" class="smile-face mood-status">Angry</li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs"></div>
			</a>
		</div>
		{{/each}} --}}



	</div>

	<div class='form-group add-event-button'>
		<form method='get' action='/addEvent/{{dayId}}' role='form' id='addeventget'>
			<input type='hidden' name='addEventPostSucess' value='{{addEventPostSucess}}' id="addEventPostSucess">
	        <input type='submit' class='btn btn-primary btn-block' value='Add Event'>
	    </form>
	</div>

</div>


