<div class="day-view">
	<div class="row">
{{!-- 		<div class="col-xs-12">
	        {{#if user}}
	            <h4 class="text-left">Welcome, {{user}}</h4>
	        {{else}}
		    <a href={{url}} class="text-left">Login to Google Calendar </a>
	        {{/if}}
		</div> --}}
{{!-- 		<div class="col-xs-12">
		    <a href="/month" class="text-left"> &lt; Month </a>
		</div> --}}
	</div>
	<div class="row">
		<h1 class="text-center">{{title}}</h1>
	</div>
	<div class="row this-week">
		<div class="cal-row-fluid weekday-name">
			<div class="cal-cell1" id="sun"><small>Sun</small>
				</div>
				<div class="cal-cell1" id="mon"><small>Mon</small>
				</div>
				<div class="cal-cell1" id="tue"><small>Tue</small>
				</div>
				<div class="cal-cell1" id="wed"><small>Wed</small>
				</div>
				<div class="cal-cell1" id="thu"><small>Thu</small>
				</div>
				<div class="cal-cell1" id="fri"><small>Fri</small>
				</div>
				<div class="cal-cell1" id="sat"><small>Sat</small>
				</div>
		</div>
		<div class="cal-row-fluid weekday-num">
				<div class="cal-cell1" id="sun" href="9">
					<div class="day-order">9</div>
				</div>
				<div class="cal-cell1" id="mon" href="10">
					<div class="day-order">10</div>
				</div>
				<div class="cal-cell1" id="tue" href="11">
					<div class="day-order">11</div>
				</div>
				<div class="cal-cell1" id="wed" href="12">
					<div class="day-order">12</div>
				</div>
				<div class="cal-cell1" id="thu" href="13">
					<div class="day-order">13</div>
				</div>
				<div class="cal-cell1" id="fri" href="14">
					<div class="day-order">14</div>
				</div>
				<div class="cal-cell1" id="sat" href="15">
					<div class="day-order">15</div>
				</div>
		</div>
{{!-- 		<h4 class="text-center">Su M Tu <kbd>W</kbd> Th F Sa</h4> --}}
	</div>
	<div class="row", id="this_day">

{{!--		<script id="ajax-comment" type="text/x-handlebars"> --}}
{{!-- 		{{#each todaysEvents.events}}
		<div class="event-item">
			<a href="/calendar_event/{{id}}">
			<div class="event-time col-xs-3">
				<h6 class="start-time">2:15 PM</h6>
				<h6 class="end-time">3:30 PM</h6>
			</div>
			<div class="col-xs-9 event-info">
				<h5 class="event-title">{{name}}</h5>
				<p class="event-brief">{{comment}}</p>
				<div class="smile">
					<div class="dropdown">
						<button data-toggle="dropdown" class="btn-xs smile-face mood-display" id="{{mood}}" data-identifier="{{_id}}">smile</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li id="happy" class="smile-face mood-status">Happy</li>
					    <li id="excited" class="smile-face mood-status">Excited</li>
					    <li id="sad" class="smile-face mood-status">Sad</li>
					    <li id="angry" class="smile-face mood-status">Angry</li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs"></div>
			</a>
		</div>
		{{/each}} --}}

	</div>
</div>
