<div class="event-item">
  <a href="/calendar_event/{{_id}}">
  <div class="event-time col-xs-3">
    <h6 class="start-time">{{starttime}}</h6>
    <h6 class="end-time">{{endtime}}</h6>
    {{!-- <h6 class="start-time">2:15 PM</h6> --}}
    {{!-- <h6 class="end-time">3:45 PM</h6> --}}
  </div>
  <div class="col-xs-9 event-info">
    <h5 class="event-title">{{name}}</h5>
    <p class="event-brief">{{comment}}</p>
    <div class="smile">
      <div class="dropdown">
        <button data-toggle="dropdown" class="btn-xs smile-face mood-display" id="{{moodString}}" data-identifier="{{_id}}">smile</button>
        <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <ul class="moond-list">
            <li id="excited" attr="2" class="smile-face mood-status">Happy</li>
            <li id="happy" attr="1" class="smile-face mood-status">Excited</li>
            <li id="soso" attr="0" class="smile-face mood-status">Soso</li>
            <li id="sad" attr="-1" class="smile-face mood-status">Sad</li>
            <li id="angry" attr="-2" class="smile-face mood-status">Angry</li>
            <div class="clearfix"></div>
          </ul>
          <div class="text-input">
            Comment
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix visible-xs"></div>
  </a>
</div>