{{#if isMood}}
<div class="event-item isMoodEvent">
{{else}}
<div class="event-item">
{{/if}}
  <a class="go-to-event" href="/calendar_event/{{_id}}">
  <div class="event-time col-xs-3">
    <h6 class="start-time">{{starttime}}</h6>
    <h6 class="end-time">{{endtime}}</h6>
    {{!-- <h6 class="start-time">2:15 PM</h6> --}}
    {{!-- <h6 class="end-time">3:45 PM</h6> --}}
  </div>
  <div class="col-xs-9 event-info">
    <h5 class="event-title">{{name}}</h5>
    <p class="event-brief comment-in-dayview">{{comment}}</p>
    <div class="smile">
      
      <div class="dropdown closed">
        <button data-toggle="dropdown" class="btn-xs smile-face mood-display" id="{{moodString}}" data-identifier="{{_id}}">smile</button>
        <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <ul class="mood-list">
            <li id="excited" attr="2" class="smile-face mood-status">Happy</li>
            <li id="happy" attr="1" class="smile-face mood-status">Excited</li>
            <li id="soso" attr="0" class="smile-face mood-status">Soso</li>
            <li id="sad" attr="-1" class="smile-face mood-status">Sad</li>
            <li id="angry" attr="-2" class="smile-face mood-status">Angry</li>
            <div class="clearfix"></div>
          </ul>


          <div class="input-group">
            <input type="text" class="form-control comment-input" placeholder="Comment here!" value="{{comment}}">
            <span class="input-group-btn">
              <button class="btn btn-default Go-button" type="button">Done</button>
            </span>
          </div>




          {{!-- Design with comment button --}}
{{!--             <div class='form-group'>
                <form method='get' action='/calendar_event/{{_id}}' role='form'>
                  <input type='submit' class='btn btn-block btn-comment' value='Add Comment'>
                </form>
            </div> --}}
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix visible-xs"></div>
  </a>
</div>